<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../components/polyvox-html.html">
<dom-module id="polyvox-podcast-card">
  <style>
    .podcast-card {
      background-color: white;
    }

    .item-image {
      width: 150px;
      height: 150px;
    }

    .item-content {
      padding: .5em 1em;
    }

    .episode-number {
      margin-bottom: 0;
    }

    .item-title {
      margin: 0;
    }

    .publication-date {
      margin-top: 0;
    }

    .item-description {
      padding: .5em 1em;
    }

    .item-summary {
      margin-top: 2em;
    }

    .hidden {
      display: none;
    }

    .header {
      @apply(--layout-horizontal);
    }

    @media screen and (max-width: 800px) {
      .header {
        @apply(--layout-vertical);
      }

      .item-image {
        width: 100%;
        height: auto;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
      }

      .item-content {
        -ms-flex-order: 0;
        -webkit-order: 0;
        order: 0;
      }
    }

    paper-button {
      color: var(--paper-blue-800);
    }
  </style>

  <template>
    <paper-material class="podcast-card">
      <div class="header">
        <img class="item-image" src="[[ item.itunes_image.@href ]]">
        <div class="item-content flex">
          <h3 class="episode-number">Episode #<span>[[ item.number ]]</span></h3>
          <h1 class="item-title">[[ item.title ]]</h1>
          <h2 class="publication-date">[[ item.formattedPubDate ]]</h2>
        </div>
      </div>
      <div class="item-description">
        <div class="item-subtitle">[[ item.description ]]</div>
        <div class="item-summary">
          <polyvox-html html="[[ item.itunes_summary ]]"></polyvox-html>
        </div>
        <div class="layout horizontal end-justified">
          <paper-button id="listen-to-me">Listen to this podcast</paper-button>
          <div class="hidden">[[ item.enclosure.@url ]]</div>
        </div>
      </div>
    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'polyvox-podcast-card',

      properties: {
        item: {
          type: Object,
          notify: true
        }
      },

      attached: function () {
        this.$['listen-to-me'].addEventListener('click', function (e) {
          location.href = e.target.nextSibling.innerHTML;
        });
      }
    });
  </script>
</dom-module>
