<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../components/polyvox-html/polyvox-html.html">
<dom-module id="polyvox-podcast-card">
  <style>
    .podcast-card {
      background-color: white;
      border-bottom: 1px solid var(--paper-grey-200);
    }

    .item-image {
      width: 150px;
      height: 150px;
      border-radius: 15px;
    }

    .item-content {
      padding: 0 1em;
    }

    .episode-number {
      margin-top: 1em;
      margin-bottom: 0;
    }

    .item-title {
      margin: 0;
    }

    .publication-date {
      margin-top: 0;
    }

    .item-description {
      padding: .5em 0;
    }

    .item-summary {
      margin-top: 2em;
    }

    .hidden {
      display: none;
    }

    .poly-img {
      width: 100%;
      height: auto;
      display: block;
    }

    .header {
      @apply(--layout-horizontal);
    }

    .image-and-links {
      @apply(--layout-vertical);
      padding-top: 1em;
      padding-left: 1em;
    }

    .links {
      text-align: right;
    }

    paper-button {
      color: var(--paper-blue-800);
    }

    @media only screen and (max-width: 500px) {
      .image-and-links,
      .item-image {
        display: none;
      }

      .item-content {
        padding-left: 0;
      }
    }
  </style>

  <template>
    <paper-material class="podcast-card">
      <div class="header">
        <div class="image-and-links">
          <img class="item-image" src="[[ imagehref ]]">
        </div>
        <div class="item-content flex">
          <h3 class="episode-number">Episode #<span>[[ number ]]</span></h3>
          <h1 class="item-title">[[ cardtitle ]]</h1>
          <h2 class="publication-date">[[ pubdate ]]</h2>
          <div class="item-description">
            <div class="item-subtitle">[[ description ]]</div>
          </div>
        </div>
      </div>
      <div class="links">
        <paper-button id="listen-to-me">Listen</paper-button>
        <div class="hidden">[[ audiolink ]]</div>
        <paper-button id="listen-to-me">Details &amp; Discuss</paper-button>
        <div class="hidden">[[ detailslink ]]</div>
      </div>
    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'polyvox-podcast-card',

      properties: {
        imagehref: {
          type: String,
          notify: true
        },
        number: {
          type: String,
          notify: true,
        },
        cardtitle: {
          type: String,
          notify: true,
        },
        pubdate: {
          type: String,
          notify: true
        },
        description: {
          type: String,
          notify: true
        },
        audiolink: {
          type: String,
          notify: true
        },
        detailslink: {
          type: String,
          notify: true
        }
      },

      attached: function () {
        this.$['listen-to-me'].addEventListener('click', function (e) {
          location.href = Polymer.dom(e.target).nextSibling.innerHTML;
        });
      }
    });
  </script>
</dom-module>
